*{margin: 0;}
#top-menu {
    padding: 10px;
    margin-bottom: 10px;
    border:  2px solid black;
    background-color: rgb(184, 184, 184);
}

#top-menu  input {
    width: 200px;
}

#table-menu {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.subscriber {
    display: flex;
    margin: 3px 10px 3px 3px;
}

.table {
    display: flex;
    border: 2px solid black;
    width: 400px;
    margin-right: 10px;
    justify-content: space-between;
}

.table p {
    display: flex;
    margin: 0 5px 0 5px;
    align-items: center;
}

#formNewContact {
    display:  flex;
}

.form-example {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.hidden {
    display: none !important;
}